@media screen and (min-width: 960px) {
    .b-can{
        position: relative;
        height: 300px;
        width: 800px;
        margin: 70px auto 10px;
        transform-style: preserve-3d;
        perspective-origin: 50% -50%;
        perspective: 3000px;

        /*Отменяем выделение*/
        -moz-user-select: -moz-none;
        -o-user-select: none;
        -khtml-user-select : none;
        -webkit-user-select : none;
        user-selec: none;
    }

    .b-can__thesis{
        width: 800px;
        height: 200px;
        transform-origin: 51% 50% -360px;
        transition: transform 1s linear;
        position: absolute;


    }

    .b-can-thesis{
        overflow: hidden;
        text-align: center;
        position: relative;
        transition-duration: 2s;
    }
    .b-can-thesis--blur{
        opacity: .5;
        -webkit-filter: blur(6px);
        -moz-filter: blur(6px);
        -o-filter: blur(6px);
        -ms-filter: blur(6px);
        filter: blur(6px);
    }
    .b-can-thesis--pt{
        padding-top: 150px;
    }
    .b-can-thesis__big-num{
        font-family:'RobotoCondensed-Regular';
        font-size: 3.5em;
        padding-right: 10px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        color: #376e98;
    }
    .b-can-thesis__descript{
        display: inline-block;
        vertical-align: top;
        text-align: left;
        color: #376e98;
    }
    .b-banka{
        position: absolute;
        top: -45px;
        transform: translateZ(-330px);
        left: 50%;
        margin-left: -330px;
    }
    .b-banka--text{
        transform: translateZ(-801px);
        top: 0;

    }
    .b-head-nav__item{
        width: 180px;
        display: block;
        padding: 0 3%;
        transition-duration: .3s;
        min-height: 40px;
    }
    .b-head-nav__item a {
        color: #000;

    }
    .b-head-nav__item:hover > a {
        text-decoration: none;
        color: #376e98;
    }


    .b-head-nav__item:hover .b-head-sub-nav{
        max-height: 100px;
        transition-duration: .3s;
        padding: 10px 0;
        margin-top: 5px;

    }
    .b-head-sub-nav{
        max-height: 0;
        overflow: hidden;
    }
    .b-head-sub-nav__item:hover > a {
        text-decoration: none;
        color: #376e98;
    }
    .b-head-sub-nav__item{
        /*display: inline-block;*/
        display: block;
        float: left;
        padding: 0 10px;
    }
    .b-head-sub-nav__item:first-child{
        padding-left: 0;
    }
    .b-head-sub-nav__item:last-child{
        padding-right: 0;
    }
    .b-h-nav-row{
        position: relative;
    }
    .b-head-nav{
        max-height: none !important;
        border: 0 solid transparent !important;
        position: absolute;
        right: 0;
        width: 83%;
    }


}