/*таблетки и мобилки*/
@media  (max-width: 959px) {
    .width{
        width: 94%;
        min-width: 320px;
        max-width: 960px;
        padding: 0 3%;
        margin: 0 auto;
    }
    .b-head-nav{
        max-height: 0;
    }
    .b-head-nav__item{
        padding-right: 3%;
    }
    .b-can{
        display: none;
    }

    .b-img-index-news{
        width: 100%;
    }
    .b-one-news{
        width: 95%;
    }
    .b-separation__line{
        display: none;
    }
    .b-eco__col{
        width: 92%;
        padding: 0 4%;
    }
    .b-eco__col h3 {
        padding: 30px 0;
    }
}

@media  (max-width: 500px){
    .b-poll{
        width: 100%;
        padding-bottom: 30px;

    }

    .b-one-news-index{
        width: 95%;
    }

    .b-footer__col{
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    .b-one-news-box{
        width: 96%;
        padding: 0 2%;
    }
    .b-main__img{
        width: 100%;
        padding: 5px 0;
        margin: 0 auto;
    }
    .b-one-news-box__date{
        width: 100%;
    }
    .edit img{
        width: 100%;
    }
}
/*Скрытое меню*/
@media  (max-width: 960px){
    .b-h-nav-row-open-but{
        border: 1px solid grey;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 32px;
        height: 24px;
        float: right;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .b-h-nav-row-open-but__line{
        height: 2px;
        background: grey;
        display: block;
        width: 60%;
        margin: 4px auto;
    }

    .b-h-nav-row__img{
        vertical-align: top;
    }
    .b-head-nav{
        overflow: hidden;
        width: 310px;
        float: right;
        clear: both;
        position: relative;
        background-color: #dadee0;
    }
    .b-head-nav__item{
        float: none;
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        margin-bottom: -1px;
        margin-top: -1px;
    }
    .b-head-nav__item:hover{
        background: #ECEEF0;
    }
    .b-head-nav__item > a {
        display: block;
    }
    .b-body__row{
        padding: 0;
    }

}
@media (max-width: 459px) {

    body{
        min-width: 320px;
    }

    .width{
        width: 100%;
        padding: 0;
    }
    .b-can{
        display: none;
    }



    .b-img-index-news{
        width: 100%;
    }

    .b-poll{
        width: 100%;
        padding-bottom: 30px;

    }

    .b-one-news-index{
        width: 95%;
    }

    .b-footer__col{
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    .b-h-nav-row__navigation{
        max-width: 200px;
    }
}

@media (max-width: 710px){
    .b-about-bank-main-img{
        display: none;
    }
    .b-about-show-item{
        position: relative;
        bottom: 0;
        width: 300px;
        margin: 0 auto;
    }
}

@media(max-width: 365px){
    .b-calendar{
        width: 320px;
    }
    .b-calendar__cell{
        margin: 0 5px;
    }
}

@media(max-width: 600px){
    .b-can-thesis--about{
        min-height: 300px;
    }
}
@media(max-width: 460px){
    .b-association-item{
        display: block;
        padding: 20px 0;
    }
    .b-can-thesis--about{
        width: 46%;
        padding: 0 2%;
    }
}